server {
        listen {{ port }};
        listen [::]:{{ port }};

        root /var/www/{{ domain }}/html;
        index index.html index.htm index.nginx-debian.html;

        server_name {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }} {{ domain }} www.{{ domain }};

        location / {
                try_files $uri $uri/ =404;
        }
}